<h1> <%=@plane.name%> </h1>

<h3>The <%= @plane.name %> is a <%= @plane.aircraft_type %> Jet build by <%=  @plane.manufactor %>.</h3>
<h3>Capacity: <%= @plane.passengers %> </h3>
<h3>Range: <%= @plane.range %> km </h3>
<h3>Engines: <%= @plane.engines %> </h3>
